<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.classification">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foragesnap"
        android:label="@string/activity_name_classification"
        android:roundIcon="@mipmap/foragesnap_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WarningLabel"></activity>
        <activity android:name=".tflite.WarningLabel" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:screenOrientation="portrait" />
    </application>

</manifest>